<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="switch" type="string" value="cam"/>
    <node name="gui" pkg="ank_ris" type="gui.py" output="screen"/>
    <node name="steering_circles" pkg="ank_ris" type="steering_circles.py" output="screen"/>
    <node name="lead_lb" pkg="ank_ris" type="lead_lb.py" output="screen"/>
</launch>